<div class="post-preview">
    <a href="#">
        <h2 class="post-title">{{ note.title }}</h2>
        <h3 class="post-subtitle">
            {{ note.content }}
        </h3>
    </a>
    <p class="post-meta">Posted by
        <a href="#">Start Bootstrap</a>on September 24, 2017</p>
</div>
<hr>